nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    background-color: hsla(72, 5%, 82%, 0.8);
    transition: background-color 0.2s ease;
    top: 0;
    z-index: 100;
}


nav a + a {
    margin-left: 1rem;
}

nav:first-child {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
}

nav > * {
    /* Add space between items */
    margin: 1rem;
    position: relative;
    z-index: 1001;
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-end;
}

nav > ul > li {
    list-style: none;
    font-size: 1rem;
    padding: 0.5rem;
}


.menu-toggle {
    display: none;
}

.menu-toggle:checked + ul {
    display: flex;
}

.nav_scrolled {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav_link {
    text-decoration: none;
    padding-inline: 6px;
}

.nav_link:hover,
.nav_link:focus,
.nav_link:active {
    color: gray;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: 1;
}

.active {
    background-color: black;
    pointer-events: none;
}

.active a {
    color: white;
}

.logo {
    margin-right: 1rem;
}

.nostyle {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.single-line {
    white-space: nowrap;
}


@media (max-width: 600px) {
    nav > ul {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }


    nav > ul > li {
        list-style: none;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .spacer {
        display: none;
    }

    .logo {
        margin-right: 0;
    }


}