---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h2>About Me</h2>
  <div class="md:mx-12" id="about">
    <div class="flex w-full flex-col md:flex-row">
      <section class="flex h-min w-full grid-rows-1 flex-col px-2 md:px-10">
        <p>
          I grew up in Scottsdale, Arizona. My earliest memories include my
          absolute love for most creatures. From bugs to snakes, dogs to cats --
          I adored them all. I was a rescuer of animals at a very young age. I
          once brought home a turtle that I found in the middle of a busy
          Scottsdale street and she went on to live in our backyard until my
          parents sold that home when I was 20. The new buyers were delighted to
          have a pet turtle. Much to my mother's chagrin, I was always bringing
          home lost pets. I just couldn't help myself.

          <br />
          <br />

           My earliest grooming clients were our 2 poodles and a Cairn-Terrier mix:
          Looper. While I was fascinated with the poodles when they came home with
          their beautiful haircuts, they did not tolerate my combing and pulling.
          Looper did tolerate me and I enjoyed brushing, combing, and styling his
          crazy hair. After high school, I worked professionally as a groomer with
          Arabian show horses. I have owned cattle, horses, and pigs. We currently
          run a small heard of beef cattle.

          <br />
          <br />

           I’ve been grooming dogs and cats since 1997. I am constantly striving
          to learn new techniques and I attend many continuing education workshops
          with other pet professionals here in Colorado.

          <br />
          <br />

           I am a wife, a mother to four beautiful children, and a grandmother to
          one. My life is busy and happy. Grooming dogs and cats allows me to be
          creative and enjoy time with all different types of animals. I adore my
          career. I am also a photographer, and I strive to create fine art imagery.
          I have won a few awards for my efforts. I have sold prints across the country
          and I am always so honored when people choose to bring my images into their
          homes.

          <br />
          <br />

           Thank you for considering me to work with your beloved pet. I will always
          do my very best job for you.
        </p>
      </section>
      <section class="flex flex-row md:flex-col">
        <p class="mb-2 text-2xl font-thin uppercase">Sid</p>
        <div class="frame">
          <img
            src="/assets/images/Sid.jpg"
            loading="lazy"
            height={12}
            alt="Sid"
            class="background-image aspect-auto"
          />
        </div>
        <p class="my-2 text-2xl font-thin uppercase">Sophie</p>
        <div class="frame h-fit">
          <img
            src="/assets/images/Sophie.jpg"
            loading="lazy"
            class="background-image aspect-auto"
            alt="Sophie"
          />
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  .background-image {
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    max-height: 200px !important;
  }
</style>
