---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Packages">
  <div class="container center">
    <h2>Frequently Asked Questions</h2>
    <img
    src="assets/images/sitting_dog_3.png"
    loading="lazy"
    alt=""
    width={"100%"}
    />
    <!-- Mapping the following q and a to the comment above -->
    <div class='faq'>
      <a href="#grooming-frequency" id="grooming-frequency">
        Q. How frequently should I have my pet groomed?
      </a>
      <p class="answer">
        A. It depends on the breed, his lifestyle and on how you want him to look and smell. While it is true that a clean animal is a healthier one, excessive bathing can dry out the skin and strip it of its natural oils. Generally speaking, short-coated dogs with no skin conditions can go six to eight weeks between baths unless they have gotten into something dirty or smelly. Longer coated dogs should be groomed every four to six weeks to ensure their hair does not get matted and isn't harboring insects or hidden skin conditions. Of course, certain types of dogs haircuts should be groomed more often than others to maintain their appearance.
      </p>
      <a href="#feed-before" id="feed-before">
        Q. Should I feed my dog before I bring him/her for grooming?
      </a>
      <p class="answer">
        A. If possible, please refrain from feeding the pet on the day of grooming. Your pet may get nervous during grooming, and it may cause your dog to get the runs or even throw up. Abstain from feeding your pet before the grooming session. If you do feed your pet, please be sure he has ample time to potty before their appointment.
      </p>
      <a href="#nail-trimming-frequency" id="nail-trimming-frequency">
        Q. How often should I have my pet's nails trimmed?
      </a>
      <p class="answer">
        A. Your pet's nails should be trimmed at a minimum of every four weeks. Dogs that regularly walk on pavement tend to wear down on their own, and do not need to be trimmed as frequently. Long nails should be cut every 2-3 weeks to help wear down the quicks. Extra long nails have to be cut a little bit at a time and can NOT be cut short all at once.
      </p>
      <a href="#brushing-matted-pet" id="brushing-matted-pet">
        Q. My pet is matted, but I do not want him shaved. Why can't you brush him out?
      </a>
      <p class="answer">
        A. Because it's painful! Matting is a very serious problem for dogs and cats. Mats left in a pet's coat only grow tighter and can damage the skin, or even tear it open. Mats are often deceptive, hiding in areas that don't get much visual attention from owners, such as under the belly, under the tail, and in the "armpit" area. If you are not on a regular brushing regimen with your dog, you may be unaware of these "secret" mats. These mats can trap moisture, urine and fecal matter tightly against the pet's skin, allowing mold, fungus, or bacteria to grow, causing skin irritations that can be very uncomfortable for your pet. A number of things causes matting. Improper brushing is one. There is a right way and a wrong way to brush certain types of coats, as well as the correct tools to use. When you bathe your pet at home, no matter what product you use, if the hair is not completely combed out before and after bathing, any mats or tangles can be worsened by the wet/dry process.
      </p>
      <a href="#first-groom" id="first-groom">
        Q. When should I first have my puppy or kitten groomed?
      </a>
      <p class="answer">
        A. I would not accept a youngster for grooming prior to completion of initial vaccinations (usually about 15-16 weeks old). Initially, I would suggest the grooming be brief, trimming the hair around the eyes, paws, and anus only. The objective is to have the experience be a positive one at the outset, so your pet looks forward to each future grooming experience for a lifetime. Be unemotional when you drop him off and give him a lot of praise when you pick him so you do not telegraph anxiety at the outset and show pleasure at the end of the experience.
      </p>
      <a href="#cost-determination" id="cost-determination">
        Q. What determines the cost of grooming?
      </a>
      <p class="answer">
        A. The cost is based on the breed of the pet, what you want to be done, the condition of the coat, and the pet's behavior. All pets are different. As hard as you try to describe your pet, his hair, his behavior and what you want to be done over the phone, without seeing and meeting your pet, I cannot give you an exact price over the phone – Only an approximation.
      </p>
      <a href="#puppy-cut" id="puppy-cut">
        Q. I want my dog to have a puppy cut - can you do that?
      </a>
      <p class="answer">
        A. In the world of grooming, a "puppy cut" can mean several different things. It means that you want your dog to look like it did when it was a puppy, which is different depending on the breed. I can achieve that look for you and will determine what you would like at check-in.
      </p>
      <a href="#bathe-first" id="bathe-first">
        Q. Why do you bathe my pet first?
      </a>
      <p class="answer">
        A. In order to get an even hair cut, the hair needs to be clean and dry, so I always bathe the dog as part of grooming. Depending on your pet's breed and style, I may do a "rough cut" first. After the rough cut, your pet is washed, dried and then the haircut is completed. In other cases, I may wash and dry the dog, and then the haircut is completed.
      </p>
      <a href="#anal-glands" id="anal-glands">
        Q. What are anal glands?
      </a>
      <p class="answer">
        A. They are the scent sacs inside the  anus. Most pets empty them naturally, some do not. I can check if they need to be emptied /expressed. In some cases, a veterinarian will need to express the glands. I will let you know.
      </p>
      <a href="#flea-tick" id="flea-tick">
        Q. My pet has fleas and/or ticks. Can you still groom him?
      </a>
      <p class="answer">
        A. Yes, but I will need to use a special shampoo to kill the fleas and ticks. This shampoo is very strong and can only be used once every 30 days. I will also need to use a flea comb to remove the dead fleas and ticks.
        <br/>
        If I find fleas, I will give your dog a flea bath at your expense ($5-$15 up-charge) to prevent the fleas from spreading to the facility and other dogs. If I find ticks, I will remove them and let you know I found them.
      </p>
      <a href="#not-satisfied" id="not-satisfied">
        Q. What if I do not like the groom when it is finished?
      </a>
      <p class="answer">
        A. Please tell me. I aim to satisfy. On the occasion where a haircut is not to your liking, and it is a matter of a little more trimming here or there, I can do it right away. In some instances, I may ask you to come again on another day in which case I can start again.
      </p>
      <a href="#cats" id='cats'>
        Q. Do you groom cats?
      </a>
      <p class="answer">
        A. Yes, I can groom, bathe, brush, and style my kitty clients. I will work with your cat throughout the grooming process in a relaxed atmosphere designed to minimize stress. I do not sedate cats; very few cats truly do need any sort of sedative in order to be groomed. I handle each cat in such a way that the need for drugs of any kind is rare. If I do think your cat would best be served by receiving sedation, I will refer you to your veterinarian.
      </p>
      <a href="#cats-first-groom" id='cats-first-groom'>
        Q. When should I have my cat groomed?
      </a>
      <p class="answer">
        A. It is a good idea to have your cat groomed when he/she is a kitten to get them used to being in the water and handled by the groomer. The younger they are groomed, the more accepting they are of being bathed and handled.
      </p>
      <a href="#cats-grooming-frequency" id='cats-grooming-frequency'>
        Q. How often should I have my cat groomed?
        </a>
        <p class="answer">
          A. It is a good idea to have your cat groomed every 6/8 weeks depending on coat type. Even though cats 'clean' themselves, they should be fully groomed to keep the ears clean and infection free, trim the nails and to remove dead skin and also remove excess hair to stop them from ingesting it to help prevent hairballs.
        </p>
        <a href="#cats-matted" id='cats-matted'>
          Q. My cat is matted, but I do not want him shaved. Why can't you brush him out?
        </a>
        <p class="answer">
          A. Brushing out a matted cat is very painful for the cat. It is like pulling your hair out by the roots. I will not put your cat through that. I will shave the cat and then you can start a regular grooming schedule to prevent matting in the future.
        </p>
        <a href="#shampoo" id='shampoo'>
          Q. What kind of shampoos do you use?
        </a>
        <p class="answer">
          A. I have a comprehensive range of professional, premium quality shampoos and conditioners. These products are safe, environmentally friendly, and help maintain and keep your pet looking and smelling great. If your pet has a prescription shampoo/conditioner, I am happy to use it.
        </p>
        <a href="#bathe-at-home" id='bathe-at-home'>
          Q. Can I bathe my dog at home between grooming appointments?
        </a>
        <p class="answer">
          A. Yes, but I recommend using a shampoo that is soap-free and pH balanced for dogs. Human shampoos are not pH balanced for dogs and can cause skin irritation and dryness. I recommend using a shampoo that is soap-free and pH balanced for dogs. Human shampoos are not pH balanced for dogs and can cause skin irritation and dryness.
        </p>
        <a href="#no-bathe" id='no-bathe'>
          Q. If I bathe my dog at home, can I just bring them in for a haircut?
        </a>
        <p class="answer">
          A. No. Unfortunately, I am unable to groom a dog until I brush, wash, and dry them.
        </p>
        <a href="#duration" id='duration'>
          Q. How long will it take to groom my dog?
        </a>
        <p class="answer">
          A. Generally, a grooming session should not take more than 1-2 hours for a small dog. I start the grooming session as soon as you drop off your pet at the salon. When your pet is groomed, I will give you a call to pick them up.
        </p>
        <a href="#drop-off" id='drop-off'>
          Q. Can I drop my dog off early?
        </a>
        <p class="answer">
          A. Yes, but please let me know in advance. I will do my best to accommodate your schedule.
        </p>
        <a href="#cancellation" id='cancellation'>
          Q. What if I need to cancel my appointment?
        </a>
        <p class="answer">
          A. Please notify me by telephone {import.meta.env.PHONE} at least 24 hours before your appointment time! I understand that occasionally something may prevent you from making your appointment, but notice is greatly appreciated so that another client may fill your appointment time. After one no-show a prepayment may be required for you to book another appointment.
        </p>  
    </div>
    <div class='column stack'>
      <img
      src="assets/images/sitting_dog_2.jpg"
      loading="lazy"
      class="frame"
      alt=""
      width={"100%"}
      style={{margin: "10px"}}
      />
      <img
      src="assets/images/pomeranian.jpg"
      class="frame"
      loading="lazy"
      alt=""
      width={"100%"}
      />
    </div>


    </div>
</Layout>
