---
import "react-image-gallery/styles/css/image-gallery.css";
import * as indexSection from "../pages/sections/index.md";
import * as regular from "../pages/sections/regular-bathing-grooming-benefits.md";

import Slideshow from "../components/Slides";
import Layout from "../layouts/Layout.astro";
import {
	GOOGLE_DIRECTION_URL,
	GOOGLE_REVIEWS_URL,
	GOOGLE_WRITE_REVIEW,
} from "../constants";
---

<Layout title="All About Paws">
  <h2>All About Paws Pet Spa, LLC.</h2>
  <Slideshow client:only={"preact"} />
  <hr class="hidden md:block" />
  <div
    class="flex flex-col-reverse md:flex-row md:justify-center gap-x-8 gap-y-4"
  >
    <article class="">
      <indexSection.Content />
    </article>

    <aside
      class="border-gray-200 my-auto flex w-full space-y-2 flex-row items-start justify-between border-b-2 md:h-full md:w-auto md:flex-col md:border-b-0 md:border-l-2 text-blue-800 underline uppercase pl-2 flex-wrap"
    >
      <a
        class=""
        target="_blank"
        referrerpolicy={"no-referrer"}
        href={GOOGLE_DIRECTION_URL}
      >
        Get Directions
      </a>
      <iframe
        class="hidden md:block font-black"
        sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals"
        aria-label="Map, 16329 Co Rd V"
        src="https://maps-api-ssl.google.com/maps?hl=en&ll=40.305269,-103.844805&output=embed&q=16329+Co+Rd+V,+Fort+Morgan,+CO+80701,+USA+(16329+Co+Rd+V)&z=16"
        allowfullscreen=""></iframe>
      <div class="md:flex flex-col gap-x-2 w-full contents">
        <div class="md:flex flex-1 contents">
          <a
            class="md:flex-1"
            target="_blank"
            referrerpolicy={"no-referrer"}
            href={GOOGLE_REVIEWS_URL}
          >
            Reviews
          </a>
          <a
            target="_blank"
            referrerpolicy={"no-referrer"}
            href={GOOGLE_WRITE_REVIEW}
          >
            Write a Review
          </a>
        </div>
      </div>
    </aside>
  </div>

  <hr />

  <section class="space-y-2 text-center lg:text-left">
    <h3
      class="font-display uppercase text-2xl underline underline-offset-2 items-center"
    >
      benefits of regular bathing &#38; Grooming
    </h3>
    <div class="flex flex-col lg:grid lg:grid-cols-5 gap-4 justify-center">
      <img
        class="w-auto h-auto my-auto max-h-40 self-center"
        src="/assets/images/sitting_dog.png"
        loading="lazy"
        alt=""
      />

      <article class="col-span-3">
        <regular.Content />
      </article>

      <img
        class="w-auto h-auto my-auto max-h-40 self-center"
        src="/assets/images/sitting_cat.png"
        loading="lazy"
        alt=""
      />
    </div>
  </section>
</Layout>
