---
import Layout from '../layouts/Layout.astro';
---

<Layout title="All About Paws">
    <h2>
        All About Paws Pet Spa, LLC.
    </h2>

    <div
            class="flex space-x-9 md:flex-row flex-col-reverse md:space-x-0 md:space-y-4 md:items-center md:justify-center"
    >

        <p class="w-full md:mr-4">
            {` `}
            All About Paws Pet Spa LLC.
            is a locally owned business providing full-service grooming for dogs and
            cats. My core belief is that every animal is unique and requires
            customized treatment. While many pets come in with tails wagging in
            happy anticipation of being groomed, others are more anxious. For this
            reason, I always spend a few minutes "meeting" your pet and helping them
            get to know me before I start grooming.
            <br/>
            <br/>
            Kindness, understanding, knowledge, and experience are the keys to great
            grooming, so I go out of my way to treat every animal with gentleness
            and respect - the way I treat my own pets. As I have 20 plus years in
            the professional grooming industry, you can rest assured your beloved
            pet will be in good hands.
            <br/>
            <br/>
            Call to hear more about All About Paws, or just come on over to say,
            "Hello!"
        </p>

        <aside
                class="flex md:h-full flex-row md:flex-col
                border-b-2 border-gray-200 md:border-b-0 md:border-l-2
                mb-2 md:mb-0 space-y-0 md:space-y-6 w-full md:w-auto items-start justify-between
                 "
                style={{ marginLeft: '0 !important',}}
        >
            <a
                    target="_blank"
                    referrerpolicy={'no-referrer'}
                    class="text-accent w-fit md:w-full items-center content-center nav_link text-sm md:text-lg"

                    href={import.meta.env.GOOGLE_REVIEWS_URL}
            >
                Reviews
            </a>
            <a
                    target="_blank"
                    referrerpolicy={'no-referrer'}
                    class="text-accent text-center w-fit md:w-full md:text-left items-center content-center nav_link text-sm md:text-lg"

                    href={import.meta.env.GOOGLE_WRITE_REVIEW}
            >
                Write a Review
            </a>

            <div
                class="w-full h-px border-b-2 border-b-gray-dark hidden md:block border-dashed">
                <br/>
            </div>

            <iframe
                    class="hidden md:block"
                    sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals" aria-label="Map, 16329 Co Rd V" src="https://maps-api-ssl.google.com/maps?hl=en&amp;ll=40.305269,-103.844805&amp;output=embed&amp;q=16329+Co+Rd+V,+Fort+Morgan,+CO+80701,+USA+(16329+Co+Rd+V)&amp;z=16" allowfullscreen="" />
            <a
                    class="text-accent text-center w-fit md:w-full md:text-left items-center content-center nav_link text-sm md:text-lg"
                    href={import.meta.env.GOOGLE_DIRECTION_URL}
                    target="_blank"
                    referrerpolicy={'no-referrer'}
            >
                Get Directions
            </a>


        </aside>

    </div>

    <div class="gap-4 flex flex-col items-center">

        <h2 class="col-span-3">benefits of regular bathing &#38; Grooming</h2>
        <img src="/assets/images/sitting_dog.png" loading="lazy" alt=""/>

        <ul role="list" class="text-center space-y-4">
            <li>Health skin and coat. Less shedding!</li>
            <li>Less stress of having to lift and struggle to get your pet into the bathtub.</li>
            <li>Trimmed nails are safer for your pet and you. Also the floor!</li>
            <li>Decreased amount of matting.</li>
            <li>Your pet will look and smell great.</li>
            <li>Potential health risks may be spotted before they become major complications.</li>
            <li>Pet becomes accustomed to being bathed. This leads to more enjoyment from the experience!</li>
        </ul>

        <img src="/assets/images/sitting_cat.png" loading="lazy" alt=""/>
    </div>


    {/* Move above content to a table format */}
</Layout>
