---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Packages">
  <div class="container center">
    <h2>Grooming Packages</h2>
    <p class='subheading'>
      <b>All prices are starting brices</b>
      <br />
      I will be able to give you a firm price after I meet your pet, determine the
      condition of the coat, desired style, and overall temperament.
    </p>
    <img
    src="assets/images/dog_cat_bath.png"
    loading="lazy"
    alt="Grooming"
    width={"100%"}
    />
    <div>
      <h3>Sizing Reference</h3>
      <p>
        <b>Small</b>: Under 15 lbs. <b>Medium</b>: 16-30 lbs. <b>Large</b>:
        31-50 lbs.
        <br /> I do not groom dogs over 60 lbs.
        <br /> Pleae call if your pet is large and we will discuss the best options.
      </p>
    </div>
    <div>
      <div class="heading center">
        <h3>Package #1: Bath Only</h3>
        <h4>For single coated breeds who do not need deshedding services.</h4>
      </div>

      <p>
        <b>Small</b> $35 | <b>Medium</b> $45
        <br />
        <br />
        Bath | Conditioner | Ears Cleaned | Pluck Ear Hairs (Certain Breeds)
        <br />
        <br />
        Nails Cut and Filed
        <br />
        <br />
        Sanitation Trim (Certain Breeds) - Includes private area and pad hair
        <br />
        <br />
        Drying | Light Brushing
        <br />
        <br />
        Deodorizing Spritz | Bows or Bandanna for that special, finished look
      </p>
    </div>
    <div class="stack">
      <div class="column">
        <section>
          <h3>Package #2: Bath and Trim</h3>
          <!-- <p class='subheading'>For those who want a little more than a bath.</p> -->
          <p>
            <b>Small</b> $45 <b>Medium</b> $55
            <br />
            <br />
            Package #1 + <br /> Hair Trimmed to Desired Length
          </p>
        </section>
        <section class="heading center">
          <h3>Package #3: Bath and Breed Cut</h3>
          <!-- <h4>For the breeds who need a little more than a trim.</h4> -->
          <p>
            <b>Small</b> $48 <b>Medium</b> $58
            <br />
            <br />
            Package #1 + <br /> Hair Trimmed to Desired Length <br /> Breed Cut
          </p>
        </section>
      </div>
    </div>
    <section class="accent">
      <h3>For the Felines</h3>
      <div class="stack column">
        <div class="align-right">
            <p><i class="disclaimer">Starting at </i> <b>$60</b></p>
              <p>
                Bath, brush, dry, nail trim, ear cleaning, and sanitary trim.
              </p>

            <p><i class="disclaimer">Starting at </i> <b>$75</b></p>

            <p>
              Bath | Brush | Dry | Nail Trim
              <br/>
              Clipping or Deshedding 
              <br/>
              (Lion Cut,
              Comb Finish or Scissor Finish)
            </p>
            <p class="disclaimer">*if possible</p>
        </div>

        <img
          src="assets/images/lazy_cat.png"
          class="frame"
          loading="lazy"
          alt="Cat grooming"
          width={400}
        />
    </div>
    </section>
    <div class="column stack">
      <img
        class="frame"
        src="assets/images/sitting_dog.png"
        alt="Grooming"
        width={400}
      />
      <section class='align-left'>
        <h3>Grooming Pricing Procedure</h3>
        <p>
          I will be able to give you a firm price after I meet your pet,
          determine the condition of the coat, desired style, and overall
          temperament.
          <br />
          <br />
          Additional fees may apply for:
          <br />
        </p>
        <ul class="no-bullets">
          <li>
            <b>Coat Condition</b>: Pets with excessive tangling, matting,
            undercoat or dirt
          </li>
          <li>
            <b>Breed</b>: Pets with a double coat, long hair, or curly hair
          </li>
          <li>
            <b>Behavior</b>: Pets that are aggressive, fearful, or have a
            history of biting
          </li>
          <li>
            <b>Time</b>: Pets that require more time to groom
          </li>
          <li>
            <b>Age</b>: Pets that are elderly or have health issues
          </li>
          <li>
              <b>Specialty Trims</b>: Pets that require specialty trims such as
              lion cuts, scissor finishes, or deshedding
          </li>
          <li>
              <b>Specialty Services</b>: Pets that require specialty services
              such as teeth brushing, anal gland expression, or nail grinding
          </li>
          <li>
              <b>Assistance Needed</b>: Pets that require an extra person to
              provide assistance in order to complete the grooming
          </li>
        </ul>
      </section>
    </div>
  </div>
</Layout>
