<div class="flex flex-row p-4 text-sm w-full ">
        <a
    class="mx-auto"
                target="_blank"
                href="https://www.mattkbrat.com"
                title="Matthew Bratrsovsky"
        >
        Website designed and created by
    <span class="
     
underline-thickness-2 underline-skip-ink underline underline-offset-2 hover:font-bold transition-all
      ">

            Matthew Bratrsovsky
    </span>
        </a>
</div>

<!--  .footer_credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    font-size: var(--small-font);
  }-->
