<div class="flex flex-row justify-around items-center p-4 text-sm text-center w-full">
    <p class="text-xs">
        Google icon made by <br/>
        <a
                target="_blank"
                referrerpolicy="no-referrer"
                href="https://www.flaticon.com/authors/freepik"
                title="Freepik"
        >
            Freepik
        </a>{" "}
        from{" "}
        <a
                class="underline-thickness-2 underline-skip-ink underline underline-offset-2"
                target="_blank"
                referrerpolicy="no-referrer"
                href="https://www.flaticon.com/"
                title="Flaticon"
        >
            www.flaticon.com
        </a>
    </p>
    <p class="text-base">
        Website designed and created by <br/>
        <a
                class="underline-thickness-2 underline-skip-ink underline underline-offset-2"
                target="_blank"
                referrerpolicy="no-referrer"
                href="https://www.mattkbrat.com"
                title="Matthew Bratrsovsky"
        >
            Matthew Bratrsovsky
        </a>
    </p>
    <p class="text-xs">
        Instagram icon by <br/>
        <a
                class="underline-thickness-2 underline-skip-ink underline underline-offset-2"
                target="_blank"
                referrerpolicy="no-referrer"
                href="http://www.freepik.com">Designed by eightonesix / Freepik</a
        >
    </p>
</div>

<!--  .footer_credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    font-size: var(--small-font);
  }-->