---
const { GOOGLE_DIRECTION_URL } = import.meta.env;
---

<section class="flex-1 flex-wrap items-start">
  <h3 class="font-bold text-lg underline">Hours</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:gap-y-2">
    <span class="font-bold">M - F</span>
    <span>7:00am - 4:00pm</span>
    <span class="font-bold">Saturday</span>
    <span>8:00am - 2:00pm</span>
    <span class="font-bold">Sunday</span>
    <span>Closed</span>
  </div>
</section>
<section class="flex-1 flex-wrap">
  <h3 class="font-bold text-lg underline">Location</h3>
      <span class="w-max">
        <span>16329 County Road V,</span>
         <br/>
    <span>Fort Morgan<span class="hidden md:inline-block">, CO 80701</span>

    </span>
      </span>
<br/> 
    <a
      class="min-w-max underline link"
      href={GOOGLE_DIRECTION_URL}
      target="_blank"
      referrerpolicy={"no-referrer"}
      rel="noreferrer"
    >
      Get Directions
    </a>
<section class="flex-1 flex-wrap">
  <h3 class="font-bold text-lg underline">Contact</h3>
  <a
    href=`tel:+${import.meta.env.PHONE.replace(/\D/g, '')}`
    class="flex flex-wrap gap-x-1 "
  >
    <span>Call me at</span>
    <span class="link w-max">
      {import.meta.env.PHONE}
    </span>
  </a>
  <p>
    <a class="link" href={"mailto:" + import.meta.env.CONTACT_EMAIL}>
      Email
      <!-- {import.meta.env.CONTACT_EMAIL_SPACED} -->
    </a>
  </p>
</section>
