---
import InstagramProfile from "./links/InstagramProfile.astro";
import GoogleProfile from "./links/GoogleProfile.astro";
import FooterContent from "./FooterContent.astro";
---

<footer class="justify-center accent">
  <!-- Standard Sizes -->
  <div
    class="justify-between px-4 align-middle flex-1 md:grid md:grid-cols-[1fr,auto,1fr] md:grid-rows-1"
  >
    <div class="mx-auto hidden md:block ml-16 md:mr-auto my-auto w-fit">
      <GoogleProfile />
    </div>
    <section
      class="my-4 flex flex-1 flex-col place-content-between items-center space-y-6 text-center md:flex-row md:space-y-0 max-w-6xl"
    >
      <FooterContent />
    </section>
    <div class="mx-auto md:mr-16 sm:ml-auto my-auto flex w-fit">
      <InstagramProfile />
      <div class="md:hidden">
        <GoogleProfile />
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    border-block: 1px solid #494948;
    font-size: var(--small-font);
    background: rgba(var(--accent-bg), 60%);
  }

  .footer_content {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    background-color: #f9d1c6;
    color: #494948;
    margin-inline: 3vw;
    padding-inline: 3vw;
  }

  .footer_content table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    background-color: #f9d1c6;
    color: #494948;
  }
</style>
