---
import Logo from "./logo.astro";
import { Nav } from "./Nav.tsx";

const route = Astro.url;
---

  <nav id="main_nav" class={"font-bold px-4 w-full sticky flex flex-row z-50 text-lg lg:text-left md:text-current transition-all"}>
    <a href="/" class="flex py-4 mr-auto flex-1 gap-x-2">
       <Logo /> 
      <div class="min-w-max">
        <h1 class="break-words">All About Paws Pet Spa, LLC.</h1>
        <p class="text-sm font-light">Fort Morgan Grooming</p>
      </div>
    </a>
    <Nav client:visible route={route.pathname} />
  </nav>
