<!-- wrapper for hero to ensure that it is centered with a dark background -->
<div class="hero-wrap">
    <div class="hero-image">
        <img
        src="assets/images/header.png" alt="header">
    </div>
</div>


<style>
    /* The hero image */

    img {
        margin-top: 2rem;
        width: "100%";
        padding: 0.5rem;
    }

    .hero-wrap {
        display: flex;
        width: 100dvw;
        align-items: center;
        justify-content: center;
        background-color: white;
        /* max-height: 30dvh; */
        overflow: hidden;
    }

    .hero-image {
        justify-content: center;
        align-items: center;
        vertical-align: center;
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("assets/images/header.png"); */

        /* Set a specific height */
        /* 2136x1436 */
        max-width: 2136px !important;

        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    /* For large screens, make the image width 50% */
    @media (min-width: 600px) {
        img {
            width: 50%;
            margin-inline: auto;
        }
        
    }


</style>
