<div class="hero"></div>

<style>
  .hero {
    background: #d3d4cf url("/assets/images/header.png") no-repeat center;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    height: clamp(300px, 50vh, 500px);
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
    scrollbar-width: thin;
    margin-right: 2px;
  }
</style>
