---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const currentRoute = Astro.request.url.split("/").pop() || "home";
---

<script define:vars={{ currentRoute }}>

  function toggleMenu() {
    const menu = document.getElementById("main_nav");
    menu.classList.toggle("full-width");
  }
  
  window.addEventListener("scroll", () => {
    const section1 = document.getElementById("main_nav");

    let y = 1 + (window.scrollY || window.pageYOffset) / 150;
    y = y < 1 ? 1 : y; // ensure y is always >= 1 (due to Safari's elastic scroll)

    if (window.scrollY > 0) {
      section1.classList.add("nav_scrolled");
    } else {
      section1.classList.remove("nav_scrolled");
    }
  });

  // Assign a custom class to the current page
  window.addEventListener("load", () => {
    const current = document.getElementById(currentRoute);
    if (current) {
      current.classList.add("selected");
    }

    // if the url contains an id, scroll up the height of the nav
    if (window.location.hash) {
      const NavHeight = document.getElementById("main_nav").offsetHeight;
      window.scrollBy(0, -NavHeight);
    }
  });

  window.addEventListener("resize", () => {
    const menu = document.getElementById("menu-toggle");
    if (window.innerWidth > 600) {
      menu.checked = false;
    }
  });

</script>

<nav id="main_nav" class="full-width flex">
  <a href="/" class="nostyle single-line">
    <img
      src="/assets/images/aap_favicon.png"
      alt="Logo"
      class="logo"
      width="64px"
    />
    <h1></h1>
  </a>
  <div class="spacer"></div>
  <input
    type="checkbox"
    id="menu-toggle"
    class="menu-toggle"
    onclick="toggleMenu()"
  />
  <ul>
    <li id="home">
      <a href="/" class="nav_link"> Home</a>
    </li>

    <li id="packages">
      <a href="/packages" class="nav_link"> Packages</a>
    </li>
    <li id="faq">
      <a href="/faq" class="nav_link"> FAQ</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    // No bullet
    list-style: none;
    background-color: #d3d4cf;
    transition: background-color 0.2s ease;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  nav a + a {
    margin-left: 1rem;
  }

  nav:first-child {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
  }

  nav > * {
    /* Add space between items */
    margin: 1rem;
    position: relative;
    z-index: 1001;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-end;
  }

  nav > ul > li {
    list-style: none;
    font-size: 1rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    /* content: "Aap"; */
  }

  h1::before {
    font-family: "Noto Sans Condensed";
    content: "All About Paws Pets Spa LLC.";
    text-indent: 0;
    float: left;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked + ul {
    display: flex;
  }

  .nav_scrolled {
    background-color: #efece9;
  }

  .nav_link {
    color: base.$primary;
    text-decoration: none;
  }

  .nav_link:hover,
  .nav_link:focus,
  .nav_link:active {
    color: gray;
  }

  .full-width {
    width: 100%;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacer {
    flex: 1;
  }

  .selected {
    background-color: black;
    pointer-events: none;
  }

  .selected a {
    color: white;
  }

  .logo {
    margin-right: 1rem;
  }

  .nostyle {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  .single-line {
    white-space: nowrap;
  }


  @media (max-width: 600px) {
    nav > ul {
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    h1::before {
      content: "All About Paws";
    }

    nav > ul > li {
      list-style: none;
      font-size: 1rem;
      padding: 0.5rem;
    }

    .spacer {
      display: none;
    }

    .logo {
      margin-right: 0;
    }
  }
</style>
