---

---

<a href="/" class={""}>
  <li
    id="home"
    class={`hover:bg-gray-400 hover:text-gray-100 transition-colors h-full ${selected === "home" ? "text-white bg-gray-900" : ""}`}
  >
    Home
  </li>
</a>

<a href="/packages" class={""}>
  <li
    id="packages"
    class={`hover:bg-gray-400 hover:text-gray-100 transition-colors h-full ${selected === "packages" ? "text-white bg-gray-900" : ""}`}
  >
    Packages
  </li>
</a>
<a href="/faq" class={""}>
  <li
    id="faq"
    class={`hover:bg-gray-400 hover:text-gray-100 transition-colors h-full ${selected === "faq" ? "text-white bg-gray-900" : ""}`}
  >
    FAQ
  </li>
</a>
