@import "tailwindcss";

.image-gallery-thumbnails-container {
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	width: 100% !important;
}

nav:first-child {
	z-index: 10 !important;
}

@media (width < 800px) {
	.image-gallery-thumbnails-container {
		@apply hidden;
	}

	.image-gallery-svg {
		@apply hidden;
	}
}
