---
import Attribution from "../components/Attribution.astro";
import "../styles/globals.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Footer from "../components/Footer.astro";
import Header from "../components/Header";
import Hero from "../components/Hero.astro";
import Root from "./Root.astro";
---

<Root title={title}>
  <div class="flex flex-col min-h-screen justify-between">
    <!--<Navigation/>-->
    <Hero />
    <Header
      GOOGLE_DIRECTION_URL={import.meta.env.GOOGLE_DIRECTION_URL}
      client:visible
    />
    <main class="flex justify-center 2xl:text-xl items-start flex-1">
      <div id="main" class="max-w-6xl flex flex-col gap-4 self-center">
        <slot />
      </div>
    </main>

    <Footer />
  </div>
  <Attribution />
</Root>
