@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Oswald";
		src: url("/assets/fonts/oswald/Oswald-Regular.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Oswald-Light";
		src: url("/assets/fonts/oswald/Oswald-Light.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Noto Sans Regular";
		src: url("/assets/fonts/NotoSans/NotoSansDisplay-Regular.ttf");
	}

	@font-face {
		font-family: "Noto Sans Condensed";
		src: url("/assets/fonts/NotoSans/NotoSansDisplay_Condensed-Light.ttf");
	}
}

@layer components {
	.link {
		@apply underline text-blue-600 hover:text-blue-800
	}
}

:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		#da62c4 30%,
		white 60%
	);
	--large-font: clamp(1.4rem, 2.5vw, 1.8rem);
	--normal-font: clamp(1.2rem, 2.5vw, 1.4rem);
	--small-font: clamp(1rem, 2.5vw, 1.2rem);
	--accent-bg: 250, 208, 197;
}
html {
	/* font-family: "Noto Sans Regular", sans-serif; */
	font-size: 16px;
}
code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}

#main {
	background: white;
	margin: 2rem;
	padding: 2rem;
}

#main h2 {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;

	@apply font-heading;
}

.h3 {
	font-family: "Oswald-Light", sans-serif;
	text-transform: uppercase;
}

.accent {
	background: rgba(var(--accent-bg), 60%);
	padding-inline: 2rem;
	padding-block: 1rem;
	margin: 0;
}

.text-accent {
	color: rgb(var(--accent));
}

.frame {
	border: 1px solid #1a1a1a;
	border-radius: 0.5rem;
	padding: 1rem;
}

aside {
	font-family: "Noto Sans Condensed", sans-serif;
}

.image-gallery-thumbnails-container {
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	width: 100% !important;
}

@media (max-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */

	.image-gallery-thumbnails-wrapper {
		display: none;
	}
}
